@import './../../../theme/variable.less';

.@{prefix}-home-user {
    padding: 10px;
    height : 100%;

    &-content {
        height          : 100%;
        background-color: #fff;
        padding         : 20px;
    }
}